@section Scripts {
    <script>
        @if (TempData["success"] != null)
        {
            <text>toastr["success"]("@TempData["success"]"); </text>
        }
    </script>
}
@model List<ToDoListEf>
<div class="container mt-5">
    <h1>Welcome, @ViewBag.Username</h1>
    <p>Here is your to-do list:</p>
    <a href="/ToDoItems/CreateNew" class="btn btn-primary mb-3">Create New</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Deadline</th>
                <th>File</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>


            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.Dateline</td>
                    <td><a href="~/File/@item.fileName" class="btn btn-outline-success btn-sm"><i class="fas fa-download"></i> Download</a></td>

                    <!-- عمود الأزرار (تحرير/حذف) -->
                    <td>
                        <a href="#" class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i> Edit</a>

                        <a href="/ToDoItems/Delete/@item.Id" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>

                    </td>
                </tr>

            }
                
           
        </tbody>
    </table>
</div>
